body {
  font-family: Arial, sans-serif; /* Default font */
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Light background for contrast */
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Increased padding for better spacing */
  background-color: #cfad98; /* White background for header */
  border-bottom: 1px solid #e0e0e0; /* Subtle border */
  width: 100%; 
  box-sizing: border-box; 
  user-select: none;
  z-index: 1000;
  
}

.home_logo {
  margin-left: 60px;
  height: 50px; /* Adjust height as needed */
  cursor: pointer;
}

.logo-section {
  display: flex;
  align-items: center;
}

.navbar .nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px; /* Space between nav items */
}

.navbar .nav-links li {
  position: relative; 
}

.navbar .nav-links a {
  text-decoration: none;
  color: #333; /* Dark text for nav links */
  font-size: 17px;
  transition: color 0.3s; /* Smooth color transition */
}

.navbar .nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 0;
  height: 2px;
  background-color: #218838; 
  transition: width 0.3s ease; 
}

.navbar .nav-links a:hover::after {
  width: 100%;
}

.navbar .nav-links a:hover {
  color: #218838; /* Change color on hover */
}

.auth-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.login-button, .register-button {
  padding: 10px 15px; /* Increased padding for buttons */
  font-size: 17px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.login-button {
  background-color: transparent; /* Transparent for login */
  color: #218838; /* Text color for login */
}

.register-button {
  background-color: #28a745; /* Green for register */
  color: white;
}

.login-button:hover {
  background-color: #28a745; /* Background change on hover */
  color: white;
  transition: background-color 400ms;
}

.register-button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Main Content Styles */
.main-content {
  margin-top: 80px;
  padding: 20px; /* Padding for main content */
  text-align: center; /* Center align text */
}
.profile-icon img {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}